<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Computer Finder</title>
  <!-- This links to the jQuery Library -->
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <!-- Compiled and minified CSS (Materialize) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <!--Google glph icon-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Link to the javascript file -->
  <!-- <script src="/assets/js/computers.js"></script> -->
  <script src="/assets/js/app.js"></script>
  <!-- Link to the CSS file -->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
  {{{body}}}
</body>
</html>