<!-- Top of the page -->
<nav>
  <div class="nav-wrapper blue lighten-1">
    <a href="/" class="brand-logo center">Computer Finder</a>
    <ul class="left hide-on-med-and-down">
    </ul>
  </div>
</nav>

<div class="container">
  <div class="col s12 center-align">
    <h1>
      <strong>Results</strong>
    </h1>
  </div>
</div>

<br>
<!-- This displays the name of the computer they match with -->
<h3 class="center-align">Your perfect computer is
  <span id="match">{{computer.computer_name}}</span>
</h3>
<br>

<!-- This displays the picture of the computer they match with -->
<div class="row">
  <div class="col m4 offset-m4">
    <img id="imgMatch"><img src= {{computer.computer_photo}}></img>
  </div>
</div>
</div>

<!-- This displays the specifications of the computer they match with -->
<h4 class="center-align">
  <span id="specs">{{computer.computer_specs}}</span>
</h4>
<br>

<!-- This displays the specifications of the computer they match with -->
<h4 class="center-align">
  <span id="website"><href= {{computer.computer_website}}></href></span>
</h4>
<br>

<!-- Footer info at the bottom of the page -->
<footer class="page-footer blue lighten-1">
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
  </div>
</footer>