<!-- Top of the page -->
<nav>
  <div class="nav-wrapper blue lighten-1">
    <a href="/" class="brand-logo center">Computer Finder</a>
    <ul class="left hide-on-med-and-down">
      <li>
        <a href="./home.html">Home</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="col s12 center-align">
    <h1>
      <strong>Computer Finder</strong>
    </h1>
    <h3>Results</h3>
    <h5>Here is what we found that closest matches your needs</h5>
  </div>
</div>

<br>
<!-- This displays the name of the computer they match with -->
<h2 class="center-align">Your perfect computer is
  <span id="match">{{computer.computer_name}}</span>
</h2>
<br>

<!-- This displays the picture of the computer they match with -->
<div class="row">
  <div class="col m4 offset-m4">
    <img id="imgMatch" style="height:300px; width:300px;">
  </div>
</div>
</div>

<!-- Footer info at the bottom of the page -->
<footer class="page-footer blue lighten-1">
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
  </div>
</footer>