
body {
  background-color: rgb(231, 241, 250);
  background-image: url("/images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.jumbotron {

    background-color: rgb(231, 241, 250)
    
}
img {
    align-self: auto;
    float: left;
}
.page-footer{
    height: 35px;
}


